@import 'tailwindcss';
@import 'tailwindcss-animated';

/* Suavizado de fuentes */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

/* Fuente global: Helvetica */
body {
  font-family: 'Helvetica', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Animación para el slide de los children */
.slider-container {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@theme {
  --font-helvetica: Helvetica, Arial, sans-serif;
  --font-helvetica-neue: var(--helvetica-neue-font), sans-serif;
  --font-times-new-roman: var(--times-new-roman-font), sans-serif;
  --font-cardo: var(--cardo-font), sans-serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {    
    transform: translateY(-10px);
  }
}

.flag-animation {
  transition: all 0.3s ease;
  animation: andrealoarte-floating-flag_pulse-animation 2s infinite;
  border-radius: 100%;
}

@keyframes andrealoarte-floating-flag_pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
}
